*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* utility */

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

a{
    text-decoration: none;
}

:root{
    --content-color: #141922;
    --aside-color: #000000;
    --cta-color: #080b12;
    --nav-subtitle-color: #828489;
    --title-icon-color: #ffffff;
    --footer-color: #282828;
}


/* regole di debug */

.debug .cta{
    height: 100px;
    background-color: red;
}




/* ------- codice --------- */

footer{
    height: 100px;
    background-color: var(--footer-color);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

main{
    height: calc(100vh - 100px);
}

aside{
    /* height: calc(100vh - 100px); */
    width: 50px;
    background-color: var(--aside-color);
}

.content{
    width: calc(100vw - 50px);
    background-color: var(--content-color);
}

nav li{
    list-style-type: none;
    padding: 0 1rem;
}

.nav-top{
    margin: 1rem 0;
}

.nav-bottom{
    margin: 2rem 0;
}















/* responsive */

@media screen and (min-width: 768px){
    aside{
        width: 400px;
    }
}



@media screen and (min-width: 992px){
    aside{
        width: 350px;
    }
}



@media screen and (min-width: 1200px){
    aside{
        width: 250px;
    }
}