*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* utility */

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

a{
    text-decoration: none;
}

:root{
    --content-color: #141922;
    --aside-color: #000000;
    --cta-color: #080b12;
    --nav-subtitle-color: #828489;
    --title-icon-color: #ffffff;
    --footer-color: #282828;
}


/* regole di debug */

.debug #recently-played .album{
    height: 250px;
    background-color: green;
    border: 1px solid black;
}




/* ------- codice --------- */

footer{
    height: 100px;
    background-color: var(--footer-color);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

main{
    height: calc(100vh - 100px);
}

aside{
    /* height: calc(100vh - 100px); */
    width: 50px;
    background-color: var(--aside-color);
}

aside img{
    height: 30px;
    margin: 0.3rem 0;
}

aside a{
    display: block;
}

aside .icon{
    text-align: center;
}

.content{
    width: calc(100vw - 50px);
    background-color: var(--content-color);
    overflow-y: auto;
}

.content .cta{
    position: fixed;
    top: 0;
    left: 50px;
    z-index: 2;
    min-width: calc(100% - 50px);
    height: 80px;
    background-color: var(--cta-color);
}

.upgrade-btn{
    display: inline-block;
    border: 1.5px solid var(--title-icon-color);
    padding: 0.6rem 2rem;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--title-icon-color);
}

nav{
    padding-top: 90px;
}

nav li{
    list-style-type: none;
    padding: 1rem 1.2rem;
    font-size: 0.9rem;
}

nav ul{
    margin: 1rem 0;
    flex-wrap: wrap;
}


.content section{
    width: 92%;
    margin: auto;
}

#recently-played h2{
    color: var(--title-icon-color);
    font-weight: 700;
}

#recently-played .albums{
    flex-wrap: wrap;
}

#recently-played .album{
    margin: 1.2rem 0.3rem 0 0;
    width: calc(100% / 2 - 0.4rem);
    list-style-type: none;
}











/* responsive */

@media screen and (min-width: 768px){
    aside{
        width: 300px;
    }

    .content{
        width: calc(100% - 300px);
    }

    .content .cta{
        left: 300px; 
        min-width: calc(100% - 300px);
    } 

    nav li{
        padding: 1rem 1.5rem;
    }
}



@media screen and (min-width: 992px){
    nav li{
        padding: 1rem 1.2rem;
    } 

    #recently-played .album{
        width: calc(100% / 4 - 0.4rem);
    }
}



@media screen and (min-width: 1200px){
    nav li{
        padding: 1rem 1.2rem;
    } 

    #recently-played .album{
        width: calc(100% / 6 - 0.4rem);
    }
}