*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* utility */

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

a{
    text-decoration: none;
}

.col-white{
    color: #ffffff;
}

.mrg-auto{
    margin: auto;
}

.txt-center{
    text-align: center;
}

:root{
    --content-color: #141922;
    --aside-color: #000000;
    --cta-color: #080b12;
    --nav-subtitle-color: #828489;
    --title-icon-color: #ffffff;
    --footer-color: #282828;
}


/* regole di debug */

/* .debug #recently-played .album{
    height: 250px;
    background-color: green;
    border: 1px solid black;
} */




/* ------- codice --------- */

footer{
    height: 100px;
    background-color: var(--footer-color);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

main{
    height: calc(100vh - 100px);
}

aside{
    width: 50px;
    background-color: var(--aside-color);
}

aside img{
    height: 30px;
}

aside a{
    display: block;
    padding-top: 10px;
}

aside .icon{
    text-align: center;
}

 #aside-content-top{
    display: none;
}

.content{
    width: calc(100vw - 50px);
    background-color: var(--content-color);
    overflow-y: auto;
}

.content .cta{
    position: fixed;
    top: 0;
    left: 50px;
    z-index: 2;
    min-width: calc(100% - 50px);
    height: 80px;
    background-color: var(--cta-color);
}

.upgrade-btn{
    display: inline-block;
    border: 1.5px solid var(--title-icon-color);
    padding: 0.6rem 2rem;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--title-icon-color);
}

nav{
    padding: 90px 0 30px;
}

nav li{
    list-style-type: none;
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 600;
}

nav li a:hover{
    color: var(--title-icon-color);
}

nav li a{
    color: var(--nav-subtitle-color);
}

nav ul{
    margin: 0.5rem 0;
    flex-wrap: wrap;
}

nav a .line{
    width: 40px;
    height: 3px;
    background-color: greenyellow;
    position: relative;
    left: 50%;
    top: 3px;
    transform: translate(-50%, 0);
}


.content section{
    width: 92%;
    margin: auto;
}

#recently-played h2{
    color: var(--title-icon-color);
    font-weight: 700;
}

#recently-played .albums{
    flex-wrap: wrap;
}

#recently-played .album{
    padding: 2rem 0.8rem 0 0;
    width: calc(100% / 2 - 0.4rem);
    list-style-type: none;
}

#recently-played .album a{
    width: 100%;
}

#recently-played .album img{
    width: 100%;
}

#recently-played .album h3{
    padding: 0.5rem 0 0.3rem;
}

#recently-played .album .subtitle{
    color: var(--nav-subtitle-color);
    font-weight: 600;
    font-size: 0.8rem;
}











/* responsive */

@media screen and (min-width: 768px){
    aside{
        width: 300px;
    }

    aside .icon{
        display: none;
    }

    #aside-content-top{
        display: block;
    }

    .content{
        width: calc(100% - 300px);
    }

    .content .cta{
        left: 300px; 
        min-width: calc(100% - 300px);
    } 

    nav li a{
        padding: 0 0.5rem;
    }

    .icon-text .logo-big{
        height: 50px;
        margin: 1rem 0;
    }

    .icon-text a .text{
        color: var(--nav-subtitle-color);
    }

    .icon-text{
        position: relative;
    }

    .icon-text a .text.col-white{
        color: var(--title-icon-color);
    }

    .icon-text a .line{
        display: inline-block;
        height: 40px;
        width: 3px;
        background-color: greenyellow;
        position: absolute;
        left: 0;
    }

    .playlists{
        padding-top: 25px;
    }

    .playlists h3{
        color: var(--title-icon-color);
    }

    .playlists i{
        font-size: 50px;
    }

    .playlists a{
        color: var(--nav-subtitle-color);
    }

    #aside-content-top a, #aside-content-top h3{
        padding-left: 30px;
    }

    #aside-content-top a{
        font-weight: 600;
        font-size: 0.8rem;
    }

    #aside-content-top span.text{
        padding-left: 10px;
    }

    aside a{
        padding: 0.5rem 0;
    } 

    #aside-content-top a:hover, #aside-content-top a:hover span{
        color: var(--title-icon-color);
    }


    
}



@media screen and (min-width: 992px){
    nav li{
        padding: 1rem 1.2rem;
    } 

    #recently-played .album{
        width: calc(100% / 4 - 0.4rem);
    }
}



@media screen and (min-width: 1200px){
    nav li{
        padding: 1rem 1.2rem;
    } 

    #recently-played .album{
        width: calc(100% / 6 - 0.4rem);
    }
}