*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* utility */

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.col-white{
    color: #ffffff;
}

.mrg-auto{
    margin: auto;
}

.txt-center{
    text-align: center;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

:root{
    --content-color: #141922;
    --aside-color: #000000;
    --cta-color: #080b12;
    --nav-subtitle-color: #828489;
    --title-icon-color: #ffffff;
    --footer-color: #282828;
}


/* ------- codice -------- */

/* inizio creazione delle macroaree */
footer{
    height: 100px;
    background-color: var(--footer-color);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

main{
    height: calc(100vh - 100px);
}

aside{
    width: 50px;
    background-color: var(--aside-color);
    flex-direction: column;
    justify-content: space-between;
}
/* fine creazione delle macroaree */


/* inizio aside */
aside .icons-top img{
    height: 30px;
}

aside a{
    display: block;
    padding-top: 0.8rem;
}

.icons-bottom{
    padding-bottom: 0.6rem;
}

.icons-bottom .download{
    height: 20px;
}

.icons-bottom .profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--nav-subtitle-color);
}

 #aside-content-top{
    display: none;
}

#aside-content-bottom{
    display: none;
}
/* fine aside */


/* inizio contenuto principale */
.content{
    width: calc(100vw - 50px);
    background-color: var(--content-color);
    overflow-y: auto;
}

.cta{
    position: fixed;
    top: 0;
    left: 50px;
    z-index: 2;
    min-width: calc(100% - 50px);
    height: 80px;
    background-color: var(--cta-color);
    justify-content: flex-end;
    padding-right: 3rem;
}

.upgrade-btn:hover{
    transform: scale(1.2);
    background-color: #ffffff;
    color: black;
}

.upgrade-btn{
    border: 1.5px solid var(--title-icon-color);
    padding: 0.6rem 2rem;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--title-icon-color);
    transition: all 0.7s;
}

nav{
    padding-top: 5.6rem;
}

nav li{
    list-style-type: none;
    padding: 0.8rem 0.7rem;
    font-size: 0.9rem;
    font-weight: 600;
}

nav li a:hover{
    color: var(--title-icon-color);
}

nav li a{
    color: var(--nav-subtitle-color);
}

nav ul{
    margin: 0.5rem 0;
    flex-wrap: wrap;
}

nav a .line{
    width: 40px;
    height: 3px;
    background-color: greenyellow;
    left: 50%;
    top: 3px;
    transform: translate(-50%, 0);
}

.content section{
    width: 92%;
    margin: auto;
    padding-top: 2rem;
}

.content section h2{
    color: var(--title-icon-color);
    font-weight: 700;
    font-size: 2rem;
}

/* .content section .albums{
    flex-direction: row;
}  */

.content{
    overflow-x: scroll;
}

.content section .album{
    padding: 2rem 0.8rem 0 0;
    /* width: calc(100% / 2 - 0.4rem); */
    list-style-type: none;
}


.layover i{
    display: none;
}

.disco:hover .layover{
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
}

.disco:hover .layover i{
    display: block;
    font-size: 4rem;
}

.content .album img{
    width: 100%;
}

.content .album h3{
    padding: 0.5rem 0 0.3rem;
}

.content .album .subtitle{
    color: var(--nav-subtitle-color);
    font-weight: 600;
    font-size: 0.8rem;
}

#create-for-you .subtitle, #popular-artists .subtitle{
    color: var(--nav-subtitle-color);
    padding-top: 1rem;
    font-weight: 600;
}

#create-for-you{
    padding-top: 2.5rem;
}

#popular-artists{
    padding: 2rem 0 2rem;
}

#popular-artists img{
    border-radius: 50%;
}
/* fine contenuto principale */


/* inizio footer */
#footer-left{
    width: 28%;
    max-width: 250px;
    height: 100%;
}

#footer-center{
    width: 38%;
    max-width: 600px;
    height: 100%;
    padding: 0.6rem 0;
}

#footer-right{
    width: 30%;
    max-width: 220px;
    height: 100%;
    padding-right: 0.6rem;
}

#footer-left img{
    height: 45px;
    padding: 0 0.6rem;
}

.song-info{
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.song-info a{
    color: var(--nav-subtitle-color);
    font-size: 0.8rem;
    font-weight: 600;
}

#footer-left i{
    font-size: 1.2rem;
    color: var(--nav-subtitle-color);
    padding: 0.2rem 0;
}

.song-info a:hover,
#footer-left i:hover{
    color: #ffffff;
}

.footer-center-top{
    height: 50%;
    width: 200px;
}
.footer-center-bottom{
    height: 50%;
    width: 100%;
}

.footer-center-top .icon{
    font-size: 1.2rem;
}

.footer-center-top .icon.play{
    font-size: 2rem;
}

.footer-center-top .icon.play:hover{
    transform: scale(1.2);
}

#footer-center .linebar{
    width: 70%;
    height: 5px;
    border-radius: 30px;
    background-color: var(--nav-subtitle-color);
}

.linebar:hover .current-play{
    background-color: greenyellow;
}

.linebar:hover .current-point{
    display: block;
}

.current-point{
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    right: 0;
    bottom: -5px;
    border-radius: 50%;
    display: none;
}

.footer-center-bottom span{
    font-size: 0.8rem;
    padding: 0 0.5rem;
    font-weight: 600;
}

.current-play{
    width: 20%;
    height: 100%;
    border-radius: 30px;
    background-color: #ffffff;
}

#footer-right i{
    font-size: 1rem;    
}

#footer-right .linebar{
    width: 52%;
    height: 5px;
    border-radius: 30px;
    background-color: var(--nav-subtitle-color);
}
/* fine footer */



/* --------- responsive --------- */

@media screen and (min-width: 768px){

    /* inizio aside */
    aside{
        width: 300px;
        display: block;
    }

    aside img{
        height: 30px;
    }

    aside a{
        padding: 0.5rem 0;
    } 

    .icons-texts a{
        padding: 0.3rem 0;
    }

    .icons-top{
        display: none;
    }

    .icons-bottom{
        display: none;
    }

    #aside-content-top{
        height: calc(100% - 100px);
        display: block;
        overflow-y: hidden;
        display: flex;
        flex-direction: column; 
    }

    .icon-text .logo-big{
        height: 50px;
        margin: 1rem 0;
    }

    .icon-text .text{
        color: var(--nav-subtitle-color);
    }

    .icon-text{
        position: relative;
    }

    .icon-text .text.col-white{
        color: var(--title-icon-color);
    }

    .icon-text a .line{
        display: inline-block;
        height: 40px;
        width: 3px;
        background-color: greenyellow;
        position: absolute;
        left: 0;
    }

    .playlists{
        padding-top: 1.5rem;
        overflow-y: hidden;
        flex-direction: column;
    }

    .playlists h3{
        color: var(--title-icon-color);
    }

    .playlists i{
        font-size: 3.1rem;
    }

    .playlists a{
        color: var(--nav-subtitle-color);
    }

    .playlists ul{
        overflow-y: auto;
    }

    #aside-content-top a, 
    #aside-content-top h3{
        padding-left: 1.9rem;
    }

    #aside-content-top a{
        font-weight: 600;
        font-size: 0.8rem;
    }

    #aside-content-top span.text{
        padding-left: 0.6rem;
    }

    #aside-content-top a:hover, 
    #aside-content-top a:hover span, 
    .download-app:hover{
        color: var(--title-icon-color);
    }

    #aside-content-bottom{
        display: block;
        height: 100px;
        padding: 0 1.6rem;
    }

    .download-aside{
        padding: 0.2rem 0;
    }
    
    .download-app{
        color: var(--nav-subtitle-color);
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 0.6rem;
    }

    .download-aside img{
        height: 20px;
    }

    .name-profile{
        padding-top: 5px;
    }

    .name-profile img{
        height: 30px;
        width: 30px;
        background-color: var(--nav-subtitle-color);
        border-radius: 50%;
    }

    .name-profile .name{
        font-weight: 700;
        padding-left: 0.6rem;
    }

    /* fine aside */


    /* inizio contenuto principale */
    .content{
        width: calc(100% - 300px);
    }

    .cta{
        left: 300px; 
        min-width: calc(100% - 300px);
    } 

    nav li a{
        padding: 0 0.5rem;
    }
    /* fine contenuto principale */
    

    /* inizio footer */
    .song-info a{
        display: inline-block;
    }
    /* fine footer */
}


@media screen and (min-width: 992px){
    nav li{
        padding: 1rem 0.5rem;
    } 

    /* .content section .album{
        width: calc(100% / 4 - 0.4rem);
    } */

    #footer-left .icon{
        display: inline-block;
        padding: 0 5px;
    }
}


@media screen and (min-width: 1200px){
    nav li{
        padding: 1rem 0.5rem;
    } 

    /* .content section .album{
        width: calc(100% / 6 - 0.4rem);
    } */
}


@media screen and (max-height: 500px){
    .cta{
        display: none;
    }

    nav{
        padding-top: 2rem;
    }
}